* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* css variable */
:root {
    --trasnition: all 0.3s ease-in-out;
}

/* sidebar start */
.sidebar {
    width: 250px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
    height: 100%;
    transition: var(--trasnition);
    overflow-x: hidden;
}

.sidebar li a {
    display: flex;
    color: #7a7777;
    padding: 10px;
    font-size: 15px;
    line-height: 1;
    text-transform: capitalize;
    transition: var(--trasnition);
    align-items: center;
    gap: 10px;
    justify-content: start;
}

.sidebar li a span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--trasnition);
    width: 100%;
}
.sidebar.expanded #sidebar-menu li a span {
    display: none;
    transition: var(--trasnition);
}
.sidebar li a:hover {
    color: #1d9bc3;
    margin-left: 3px;
}
.sidebar.expanded #sidebar-menu li a {
    display: flex;
    justify-content: center;
}
.sidebar li {
    border-bottom: 1px solid #ddd;
}

.sidebar li:last-child {
    border-bottom: 0;
}

.sidebar li ul.submenu li a {
    margin-left: 28px;
    font-size: 15px;
    transition: var(--trasnition);
}

.sidebar li ul.submenu li a:hover {
    margin-left: 35px;
}

.sidebar li ul {
    transition: var(--trasnition);
    display: none;
}

.sidebar li ul.submenu {
    display: none;
}

.sidebar li ul.submenu.open {
    display: block;
}

.bars i {
    cursor: pointer;
}

.sidebar.expanded {
    width: 50px;
    transition: var(--trasnition);
}
/* .sidebar.expanded:hover {
    width: 250px;
    background: #fff;
    position: fixed;
    z-index: 999;
} */
.navbar-top.expanded {
    margin-left: 50px;
    width: calc(100% - 50px);
    transition: var(--trasnition);
}

a.big_logo img {
    max-width: 80px;
}
a.small_logo img {
    max-width: 80px;
    height: 20px;
}
a.small_logo {
    padding: 10px;
}
.logo {
    text-align: center;
    border-bottom: 1px solid #ddd;
    transition: var(--trasnition);
}

a.big_logo {
    width: 100%;
    display: block;
    padding: 15px;
    transition: var(--trasnition);
}

/* sidebar end */

/*navbar start*/
.navbar-top {
    width: calc(100% - 250px);
    margin-left: 250px;
    display: flex;
    background: #dddddd4d;
    padding: 10px 20px;
    transition: var(--trasnition);
    align-items: center;
    justify-content: space-between;
}

.navbar_right img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #000;
    padding: 1px;
}

.navbar_profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar_profile a {
    display: flex;
    align-items: center;
}

ul.dropdown-menu.profile__item.show {
    padding: 8px 5px;
    margin-top: 14px !important;
    /*transition: all .3s ease-in-out;*/
}

ul.dropdown-menu.profile__item.show li a:hover {
    color: #1d9bc3;
    padding-left: 2px;
}

ul.dropdown-menu.profile__item.show li a {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    transition: var(--trasnition);
    display: block;
    line-height: 1.6;
}

ul.dropdown-menu.profile__item.show li a i {
    margin-right: 5px;
}
.sidebar.expanded .logo .big_logo {
    display: none;
}

.sidebar.expanded .logo .small_logo {
    display: block !important;
}
/*navbar end*/

/*main content start*/
.main-content {
    width: calc(100% - 250px);
    position: relative;
    padding: 10px 20px;
    transition: var(--trasnition);
    left: 250px;
}

.main-content.expanded {
    width: calc(100% - 50px);
    left: 50px;
}

.item-list th,
.item-list td {
    padding: 5px 10px;
}

/*main content end*/
